# API servers configuration
JWT_SECRET=abc123
SENDGRID_USERNAME=breaks
SENDGRID_PASSWORD=withoutthese
PORTAL_SECRET=CHANGEME
PROJECT_PLAN=commercial
ADMIN_EMAIL=admin@form.io
ADMIN_PASS=12345678
ADMIN_KEY=testAdminKey

# docker configuration
DOCKER_API_SRC_PORT=4001
DOCKER_API_DST_PORT=4002
DOCKER_MONGO_SRC=mongodb://mongo:27017/cli-test-src
DOCKER_MONGO_DST=mongodb://mongo:27017/cli-test-dst
